body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000000;
}

h2{
    color:#ffffff;
 } 

.button{
    color:#ffffff;
    background-color: #000000;
}

.usuário{
    color:#808080;
}
